# Intro to Python
# Operators

<table class="tg">
<thead>
  <tr>
    <th class="tg-1wig"><span style="font-weight:700;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Operator</span></th>
    <th class="tg-1wig"><span style="font-weight:700;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Name</span></th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-0lax"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">+</span></td>
    <td class="tg-0lax"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Addition</span></td>
  </tr>
  <tr>
    <td class="tg-0lax"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">-</span></td>
    <td class="tg-0lax"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Subtraction</span></td>
  </tr>
  <tr>
    <td class="tg-0lax"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">*</span></td>
    <td class="tg-0lax"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Multiplication</span></td>
  </tr>
  <tr>
    <td class="tg-0lax"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">/</span></td>
    <td class="tg-0lax"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Division</span></td>
  </tr>
  <tr>
    <td class="tg-0lax"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">and</span></td>
    <td class="tg-0lax"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Returns True if both statements are true</span></td>
  </tr>
  <tr>
    <td class="tg-0lax"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">or</span></td>
    <td class="tg-0lax"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Returns True if one of the statements is true</span></td>
  </tr>
  <tr>
    <td class="tg-0lax"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">not</span></td>
    <td class="tg-0lax"><span style="font-weight:400;font-style:normal;text-decoration:none;color:#000;background-color:transparent">Reverses the result: returns False if True</span></td>
  </tr>
</tbody>
</table>

In [2]:
print(3+10)
print(10-3)
print(3*10)
print(10/2)

13
7
30
5.0

In [1]:
x=5
print(x>3 and x<10)
print(x>3 or x<10)
print(not(x>3 and x<10))

True
True
False

In [3]:
# Operators can be used on strings too!
print('tea' + 'leaf')
print('Bee' * 3)

tealeaf
BeeBeeBee

In [4]:
[1, 2, 3]*5

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [5]:
range(3)

range(0, 3)

# If… Else

An 'if else' is a conditional statement that runs a different set of statements depending on whether an expression is true or false.

Equals: a == b \
Not Equals: a != b \
Less than: a < b \
Less than or equal to: a <= b \
Greater than: a > b \
Greater than or equal to: a >= b

In [6]:
a = 33
b = 200
if b > a:
    print("b is greater than a")

b is greater than a

In [9]:
a = 200
b = 33
if b > a:
    print("b is greater than a")

In [8]:
a = 200
b = 33
if b > a:
    print("b is greater than a")
else: 
    print("b is less than or equal than a")

b is less than or equal than a

In [10]:
a = 33
b = 200
if b > a:
    print("b is greater than a")
elif b < a:
    print("a is greater than b")
else: 
    print("a is equal to b")

b is greater than a

In [13]:
num = -4.5

if num > 0:
    print("Positive number")
elif num == 0:
    print("Zero")
else:
    print("Negative number")

Negative number

## Exercise 1

Try these two variations as well:
num = 0
num = -4.5

# For loop

We use for loops to iterate over a sequence. For example:

In [14]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
  print(fruit)

apple
banana
cherry

In [15]:
# Iterate through a string

for letter in "banana":
  print(letter)

b
a
n
a
n
a

In [16]:
# Using enumerate to loop through position and values (letters) of a string

for position, letter in enumerate("banana"):
  print(position, letter)

0 b
1 a
2 n
3 a
4 n
5 a

## Exercise 2

Print First 10 positive integers using while loop (solution at bottom of notebook)

In [19]:
# write your solution in this cell
for i in range(10):
    print (i+1)

1
2
3
4
5
6
7
8
9
10

# List

A list is an abstract data type that represents a finite number of ordered values, where the same value may occur more than once.
Access to individual element, the index start from 0

In [21]:
my_list = ['a','b','c','b','d','e']
print(my_list[0]) # returns 'a'
print(my_list[5]) # returns 'e'
print(my_list[-2]) # returns 'd'
print(my_list[5] == my_list[-1]) # returns True

a
e
d
True

In [22]:
# Check if an element exist in the list

print('b' in my_list)

True

In [23]:
# Remove an element in the list

my_list.remove('b') # It will remove just the first b
my_list

['a', 'c', 'b', 'd', 'e']

In [24]:
my_list.pop()

'e'

In [25]:
my_list

['a', 'c', 'b', 'd']

In [26]:
# Adding a element at the end of the list

my_list.append('g')
my_list

['a', 'c', 'b', 'd', 'g']

In [27]:
# Adding a list at the end of the list

another_list = ['i','j']
my_list.extend(another_list)
my_list

['a', 'c', 'b', 'd', 'g', 'i', 'j']

In [28]:
# Addition

x,y = [1], [2,3]
x+y

[1, 2, 3]

In [29]:
# Multiplication

x*10

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [30]:
x

[1]

In [31]:
# Loop through a list

for offset, element in enumerate(my_list):
    if element =='b':
        print(offset)
        break

2

## Exercise 3

Using a loop modify the list my_list = [] into my_list = [0, 2, 4, 6, 8] (solution at bottom of notebook)

In [35]:
# write your solution in this cell
my_list = []
for i in range(5):
    my_list.append(i*2)
    
print (my_list)

[0, 2, 4, 6, 8]

In [38]:
my_list=[i*2 for i in range(5)]
print (my_list)

[0, 2, 4, 6, 8]

# Slicing

Selecting multiple values across several indexes: var[ from_index : to_index ]
- var[from_index:] means from_index all the way to the end of the data structure
- var[:to_index] means from 0 up to to_index

In [39]:
quote = "be the change you wish to see in the world!"
quote[0:2]

'be'

In [40]:
quote[2:]

' the change you wish to see in the world!'

In [41]:
quote[0:-6]

'be the change you wish to see in the '

In [42]:
quote[:-6]

'be the change you wish to see in the '

In [43]:
quote[:-6] + 'bedroom'

'be the change you wish to see in the bedroom'

## Exercise 4

Reverse a list in Python\
Given:\
list1 = [100, 200, 300, 400, 500]\
Expected output:\
list1 = [500, 400, 300, 200, 100]

(solution at bottom of notebook)

In [50]:
list1 = [100, 200, 300, 400, 500]
list1.reverse()
print (list1)

[500, 400, 300, 200, 100]

None

# Tuples

Tuple is an immutable (unchangeable) collection of elements of different data types. It is an ordered collection, so it preserves the order of elements in which they were defined.

In [51]:
names = ('Jeff', 'Bill', 'Steve', 'Yash')
print(names[0])

Jeff

In [52]:
print(names[-4])

Jeff

Update or Delete Tuple elements: Tuple is unchangeable. So, once a tuple is created, any operation that seeks to change its contents is not allowed. For instance, trying to modify or delete an element of names tuple will result in an error.

In [53]:
names[0] = 'Swati'

TypeError: 'tuple' object does not support item assignment

In [54]:
del names[0]

TypeError: 'tuple' object doesn't support item deletion

In [55]:
names

('Jeff', 'Bill', 'Steve', 'Yash')

In [56]:
# You can delete an entire tuple using the del keyword.

del names

In [57]:
names

NameError: name 'names' is not defined

# Sets

A set is a mutable collection of distinct (unique) hashable objects. It is an unordered collection of objects, meaning it does not record element position or order of insertion and so cannot access elements using indexes.

In [58]:
even_nums = {2, 4, 6, 8, 10} # set of even numbers
even_nums.add(12)
even_nums

{2, 4, 6, 8, 10, 12}

In [59]:
8 in even_nums

True

In [60]:
{2, 4, 6} & even_nums

{2, 4, 6}

In [61]:
emp = {1, 'Steve', 10.5, True}

In [62]:
emp

{1, 10.5, 'Steve'}

# Dictionaries

A dictionary is an unordered and mutable Python container that stores mappings of unique keys to values. Dictionaries are written with curly brackets ({}), including key-value pairs separated by commas (,). A colon (:) separates each key from its value.

In [63]:
translation = {'hello': 'goodbye'}
translation['hello']

'goodbye'

In [64]:
# Adding a key key,value to the list

translation['table'] = 'mesa'
translation

{'hello': 'goodbye', 'table': 'mesa'}

In [65]:
# Changing a key key,value to the list

translation['hello'] = 'hola'
translation

{'hello': 'hola', 'table': 'mesa'}

In [66]:
translation.update({'hello': 'ciao', 'windows': 'ventana'})
translation

{'hello': 'ciao', 'table': 'mesa', 'windows': 'ventana'}

In [67]:
# Removing an element

translation.pop('windows')

'ventana'

In [68]:
translation

{'hello': 'ciao', 'table': 'mesa'}

In [69]:
# Loop through the dictionary

for key, value in translation.items():
    print(key, '-->', value)

hello --> ciao
table --> mesa

In [71]:
# Dictionary can contains lists

likes = {
    'michael' : ['annie hall', 'manhattan'],
    'tina' : ['alien', 'aliens']}

## Exercise 5

Add to the list likes above: the key "robert" with the likes list: junior, kid, child 
(solution at bottom of notebook)

In [77]:
# write your solution in this cell
likes.update({'robert': [' junior', 'kid', 'child']})

In [78]:
likes

{'michael': ['annie hall', 'manhattan'],
 'tina': ['alien', 'aliens'],
 'robert': [' junior', 'kid', 'child']}

## Exercise 6
Convert two lists into a dictionary

Below are the two lists. Write a Python program to convert them into a dictionary in a way that item from list1 is the key and item from list2 is the value

keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

Expected output:

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

(solution at bottom of notebook)

In [79]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

In [85]:

new_dict = {}

for i in range(len(keys)):
    new_dict.update({keys[i]: values[i]})
print(new_dict)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

# Functions: syntax

- Functions are pieces of code that take input(s), manipulate it and return an output
- def keyword defines a function in Python
- return keyword defines return value and exits the function
- A function doesn’t have to return anything but usually useful to return

In [86]:
def sum_two_numbers(a=2,b=3):
    '''
    This function takes two numbers and returns their sum
    '''
    return a + b

In [89]:
sum_two_numbers(2,3)

5

In [90]:
sum_two_numbers(6,7)

13

- An argument is an input (a piece of data) passed in to a function (can be anything you want, even another function)
- Argument types
    - Positional args (*args)
        - Compulsory, no default values
    - Keyword args (**kwargs)
        - These have default values and are optional when calling the function

In [93]:
def print_arguments(*arguments):
    return arguments
type(print_arguments(1,2,3))

tuple

In [94]:
def print_arguments(*arguments, **keyword_arguments):
    print(arguments)
    print(keyword_arguments)
print_arguments(1,2,3,a="first_kwarg",b="second_kwarg")

(1, 2, 3)
{'a': 'first_kwarg', 'b': 'second_kwarg'}

## Exercise 7

Write a function which prints its arguments doubled (double_args)
Eg double_args(1,2,3,4) should print 2, 4, 6, 8
(solution at bottom of notebook)

In [99]:
def double_args(*args):
    """
    This function prints its arguments multiplied by 2
    """
    for arg in args:
        print(arg*2)

In [100]:
double_args(1, 2, 3)

2
4
6

# Functions: scope

- Functions are locally scoped: whatever is defined in the function is defined only within the function
- You can access objects defined outside the function from inside the function, but not the other way around

In [101]:
letter = 'a'
def create_number():
    number = 7
    print(number)
    print(letter)
create_number()

7
a

In [102]:
print(number)

NameError: name 'number' is not defined

# Functions: built-in functions and some methods

- Python3 Built-in (ready-to-use) functions listed in alphabetical order https://docs.python.org/3/library/functions.html 
- Some useful ones: print, type, len, min, max, range, enumerate

In [103]:
len(["a","b","c","d"])

4

In [104]:
type(2)

int

In [105]:
max([1,2,3])

3

- Python built-in datatypes also have useful methods:
    - list.append() adds to the end of the list
    - str.split() splits string into pieces based on a separator (default = whitespace) and returns a list of the pieces
    - Etc - learn as you go

In [106]:
"my string".split()

['my', 'string']

## Exercise 8

Write a function that removes all non-integer values from a list (clean_list)
- Takes in [1, 2, 3, 2.5, ”hello”, 4, “there”]
- Returns [1, 2, 3, 4]

(solution at bottom of notebook)

In [112]:
my_list=[1, 2, 3, 2.5, 'hello', 4, 'there']

In [113]:
def clean_list(my_list):
    my_clean_list = []
    
    for i in my_list:
        if type(i) == int:
            my_clean_list.append(i)
    
    return my_clean_list

In [114]:
clean_list(my_list)

[1, 2, 3, 4]

## Exercise 9

Write a function that takes in a dictionary of named lists and returns it with None’s removed from each list (clean_dict)
- Takes in {'list1': [1,2,None,4,5,6,None,8], 'list2':['a',None,'c','d',None,'f','g',None]}
- Returns {'list1': [1,2,4,5,6,8], 'list2':['a','c','d','f','g']}

(solution at bottom of notebook)

In [115]:
None == None

True

In [117]:
list1 = [1,2,None,4,5,6,None,8]
list2 = ['a',None,'c','d',None,'f','g',None]

my_dict1 = {'list1': list1, 'list2': list2}

In [123]:
def clean_dict(input_dict):
    output_dict = {}
    for key, input_list in input_dict.items():
        output_list = []
        for i in input_list:
            if i != None:
                output_list.append(i)
        output_dict[key] = output_list
                
    return output_dict

In [124]:
clean_dict(my_dict1)

{'list1': [1, 2, 4, 5, 6, 8], 'list2': ['a', 'c', 'd', 'f', 'g']}

# Modules: importing from a module

In [125]:
import numpy as np
my_array = np.array([1,2,3])

In [126]:
from datetime import date
my_date = date(2019, 4, 13)

# EXTRA. Modules: exercise 10

- Put the functions clean_list and clean_dict you created in the previous exercise into a single module, 
- Import them into a new file
- Use them in the new file to clean the below list and dictionary
- [1, 2, 3, 2.5, ”hello”, 4, “there”]
- {'list1': [1,2,None,4,5,6,None,8], 'list2':['a',None,'c','d',None,'f','g',None]}

# EXTRA. A brief word on software testing

- We want to ensure the behaviour of our code matches what we expect
- Writing tests helps with this
    - Unit tests refer to tests that check the behaviour of individual components of the application, eg individual functions
    - Integration tests refer to tests that check the behaviour of the entire application, ie it checks that all the individual components work together as expected
- A fully tested application is much easier to maintain and extend further
- Pytest is a commonly used Python library for testing

------------

------

# Example solutions to exercises

In [ ]:
# SOLUTION 2

for i in range(10):
    print(i+1)

In [ ]:
# SOLUTION 3

my_list = []

for i in [0,2,4,6,8]:
    my_list.append(i)

In [ ]:
# SOLUTION 4

list1.reverse()
print(list1)

list1 = list1[::-1]
print(list1)

In [ ]:
# SOLUTION 5

# option 1
translation['robert'] = ['junior', 'kid', 'child']
# option 2
translation.update({'robert': ['junior', 'kid', 'child']})

In [ ]:
# SOLUTION 6

# empty dictionary
res_dict = dict()

for i in range(len(keys)):
    res_dict.update({keys[i]: values[i]})
print(res_dict)

In [ ]:
# SOLUTION 7

def double_args(*args):
    """
    This function prints its arguments multiplied by 2
    """
    for arg in args:
        print(arg*2)

In [ ]:
# SOLUTION 8

def clean_list_a(my_list):
    cleaned_list = []
    for i in my_list:
        if type(i) == int:
            cleaned_list.append(i)
    return cleaned_list
clean_list_a(my_list)


def clean_list_b(my_list):
    return [i for i in my_list if type(i) == int]
clean_list_b(my_list)

In [ ]:
# SOLUTION 9

def clean_dict_a(my_dict):
    for key, lst in my_dict.items():
        my_dict[key] = [i for i in lst if i != None]
    return my_dict

clean_dict_a(my_dict1)

def clean_dict_b(my_dict):
    for key in my_dict.keys():
        my_dict[key] = [i for i in my_dict[key] if i != None]
    return my_dict

clean_dict_b(my_dict1)